# Directories
.vs/
bin/
bin-int/
vendor/*/bin/
vendor/*/bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Developpement files
OllamaGUI/chats
OllamaGUI/imgui.ini
OllamaGUI/logs

# Developpement version of setup script
scripts/Setup-Project_dev.bat

# Include
!vendor/bin
!vendor/cpr/bin